**/qutebrowser/.config/qutebrowser/greasemonkey/
**/qutebrowser/.config/qutebrowser/qsettings/
**/qutebrowser/.config/qutebrowser/autoconfig.yml
**/qutebrowser/.config/qutebrowser/bookmarks
**/qutebrowser/.config/qutebrowser/quickmarks

home/shell/zsh/.config/zsh/.zcompdump
home/shell/zsh/.config/zsh/zsh_plugins/*

home/wm/herbstluft/.config/herbstluftwm/layouts/
