.DS_STORE
node_modules/

**/qutebrowser/greasemonkey/
**/qutebrowser/qsettings/
**/qutebrowser/autoconfig.yml
**/qutebrowser/bookmarks
**/qutebrowser/quickmarks

**/karabiner/automatic_backups/
**/karabiner/bun.lockb
