configuration {
    modi: "window,drun,filebrowser,emoji,run";
    fixed-num-lines: false;
    show-icons: false;

    filebrowser {
        directory: "$HOME";
        directories-first: false;
        sorting-method: "name";
    }
}

@theme "~/.config/rofi/themes/menu.rasi"
